.loader-container {
  background-color: #e8eaf6;
  width: 100vw;
  height: 98vh;
  z-index: 2000;
  position: absolute;
  -moz-animation: cssAnimation 1s ease-in 8s forwards;
  /* Firefox */
  animation: cssAnimation 1s ease-in 8s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 8s forwards;
  /* Opera */
  -webkit-animation: cssAnimation 1s ease-in 8s forwards;

  &.home {
    height: 91vh;
    margin-top: 75px;
  }

  &.contact {
    height: 100vh;
  }

  @media (min-width: 768px) {
    width: calc(100vw - 10px);
  }

  @keyframes cssAnimation {
    to {
      opacity: 1;
      display: block;
    }
  }
  .spinner {
    margin: 50vh auto 0;
    width: 100px;
    text-align: center;
    & > div {
      width: 18px;
      height: 18px;

      border-radius: 100%;
      display: inline-block;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;

      &:not(:last-child) {
        margin-right: 0.2rem;
      }

      @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
          transform: scale(0);
        }
        40% {
          transform: scale(1);
        }
      }
    }

    .bounce1 {
      background-color: #434dbe;
      animation-delay: -0.32s;
    }
    .bounce2 {
      background-color: #434dbe;
      animation-delay: -0.16s;
    }
    .bounce3 {
      background-color: #434dbe;
    }
  }

  .text__loading {
    display: flex;
    justify-content: flex-start;
    &::after {
      content: attr(data-loading-text);
      animation: loading-text 3s ease-in-out infinite;
      min-width: 100px;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      font-family: Creepster, "Courier New", Courier, monospace;
      margin-left: 40%;

      @media screen and (min-width: 768px) and (max-width: 1600px) {
        margin-left: 45%;
      }
      @media screen and (min-width: 1600px) {
        margin-left: 47%;
      }

      @keyframes loading-text {
        0% {
          content: attr(data-loading-text);
        }

        25% {
          content: attr(data-loading-text) ".";
        }

        50% {
          content: attr(data-loading-text) "..";
        }
        75% {
          content: attr(data-loading-text)"...";
        }
      }
    }
  }
}
