.app__certifications {
  flex: 1;
  width: 100%;
  flex-direction: column;
  & > .certification-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 100%;
    margin: 0 auto;
  }
}
