.app__skills {
  &-container {
    width: 80%;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column;
    }
  }

  &-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 5rem;

    @media screen and (max-width: 900px) {
      margin-right: 0;
      justify-content: center;
      align-items: center;
    }
  }

  &-exp {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width: 900px) {
      margin-top: 2rem;
    }

    &-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 1rem 0;
    }

    &-works {
      flex: 1;
      border-radius: 0.5rem;
      &:hover {
        background: #f7f7f7;
      }
    }

    &-year {
      margin-right: 3rem;
      padding: 0.6rem 0;

      p {
        font-weight: 800;
        color: rgb(var(--primary-color));
      }

      @media screen and (max-width: 450px) {
        margin-right: 1rem;
      }
    }
  }
}
