@use "mixins";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components";

:root {
  --primary-color: 49 59 172;
  --secondary-color: 237 242 248;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #45484e;
  --white-color: #ffffff;
  --loading-grey: #ededed;

  --github-color: #333;
  --linkedin-color: #0077b5;
  --twitter-color: #1da1f2;
  --facebook-color: #4267b2;
  --instagram-color: #da2980;
  --hackerrank-color: #2ec866;

  --tooltip-scale: 0;
  --tooltip-arrow-size: 5px;
  --tooltip-font-size: 14px;
  --tooltip-gap: 6px;
  --tooltip-color: var(--black-color);
  --tooltip-bg-color: var(--white-color);
  --tooltip-animation-sec: 150ms;

  --navbar-height: 74px;
}

html {
  font-size: 100.5%;
  scroll-behavior: smooth !important;
  @apply font-dmSans overflow-x-hidden;
  @media screen and (max-width: 290px) {
    @apply overflow-x-auto;
  }
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: #c1c9d6;
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background-color: #1f1f1f;
  visibility: visible;
}

::-webkit-input-placeholder {
  color: #eee;
}

:-ms-input-placeholder {
  color: #eee;
}

::placeholder {
  color: #eee;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  @apply text-black;

  span {
    @apply text-primary;
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  @apply text-gray-700;

  @media screen and (min-width: 1000px) {
    font-size: 0.9rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }
}

.skeleton-loading {
  @include mixins.skeleton-loading;
}

.certificate-border {
  border: 1px solid #b9bcbd !important;
  border-radius: 0.5rem;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
